<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mysweethome">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySweetHome">
        <activity android:name=".ReservationHistoryDetails"/>
        <activity android:name=".CustPayment" />
        <activity android:name=".CustMenu" />
        <activity android:name=".AdminMenu" />
        <activity android:name=".CheckInRoomStatus" />
        <activity android:name=".Reservation" />
        <activity android:name=".CustomerDetails" />
        <activity android:name=".CheckInWalkIn" />
        <activity android:name=".RoomStatus" />
        <activity android:name=".ManageMenu" />
        <activity android:name=".CheckOutMenu" />
        <activity android:name=".CheckInMenu" />
        <activity android:name=".FrontDesk" />
        <activity android:name=".login" />
        <activity android:name=".signUp" />
        <activity android:name=".Login" />
        <activity android:name=".CustReservation" />
        <activity android:name=".ReservationHistory" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>